@{
    ViewData["Title"] = "JR";
   
}
    <!--===========================scroll====================-->
    <a href="#" class="scrolltop" id="scroll-top">
        <i class='bx bx-chevron-up scrolltop__icon '></i>
    </a>

    <header class="l-header" id="header">
        <nav class="nav bd-container">
            <a  class="nav__logo" href="#">Jonatan Rey</a>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">  
                    <li class="nav__item"><a href="#home" class="nav__link">Inicio</a></li>
                    <li class="nav__item"><a href="#about" class="nav__link">Acerca de</a></li>
                    <li class="nav__item"><a href="#portfolio" class="nav__link">Portfolio </a></li>
                    <li class="nav__item" id="contactar"><a href="#contact" class="nav__link">Contactame </a></li>
                </ul>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header>
   <main class="l-main">
      <section class="home" id="home">

        <div class="home__container bd-container bd-grid">
            <div class="home__data">
                <span class="home__greeting">Hola, soy </span>
               <h1 class="home__name">Jonatan Rey</h1>
               <span class="home__profession">Desarrollador Web</span>
                <a download="" href="~/pdf/Jonatan_Rey_cv.pdf" class="button button-light home__button"> Descargar CV</a>
            </div>
            <div class="home__social">
              
                <a href="https://www.linkedin.com/in/jonatan-rey/" class="home__social-icon"><i class='bx bxl-linkedin'></i> Contactame por LinkedIn</a>
            </div>

            <div class="home__img">
                <img src="~/img/home.jpg" alt="">
            </div>
        </div>
      </section> 
<section class="about section bd-container" id="about">
    <span class="section-subtitle">Mi historia</span>
    <h2 class="section-title">Sobre mi</h2>

    <div class="about__container bd-grid">
        <div class="about__data bd-grid">
            <p class="about__description">
                <span>Actualmente, me desempeño <br> como desarrollador en la Armada Argentina.</span>
            </p>
            <div>
                <span class="about__number">3 años</span>
                <span class="about__achievement">Experiencia con aplicaciones en .NET</span>

            </div>
            <div>
                <span class="about__number">6 años</span>
                <span class="about__achievement">Trabajo con legacy system en VB 6.0</span>
            </div>
            <div>
                <span class="about__number">6 años</span>
                <span class="about__achievement"> Trabajo con T-SQL Server</span>

            </div>
        </div>
            <img src="~/img/about.jpg" alt="" class="about__img">

    </div>

</section>
   <section class="quilification section bd-container">
       <span class="section-subtitle">Experiencia y educación</span>
           <h2 class="section-title">Experiencia</h2>
       <div class="qualification__container bd-grid">
           <div class="qualification__content">
               <h2 class="qualification__title">
                <i class='bx bx-briefcase-alt quialification__title-icon'></i>
                Experiencia Laboral
               </h2>

              <div class="bd-grid">
                
                 
                <div class="qualification__data">
                    <h3 class="qualification__area">Mantenimiento y desarrollo de sitios web en C#</h3>
                  <div class="qualification__box">
                      <span class="qualification__work">
                      <i class='bx bx-briefcase-alt quialification__icon'></i>   
                      Armada Argentina
                  </span>
                  <span class="qualification__work">
                      <i class='bx bx-calendar-alt quialification__icon'></i>   
                      Feb 2019 - Hoy
                  </span>
              </div>

                </div>
                <div class="qualification__data">
                    <h3 class="qualification__area">Diseño y ejecución de vistas, consultas y procedimientos almacenados en SQL Server</h3>
                  <div class="qualification__box">
                      <span class="qualification__work">
                      <i class='bx bx-briefcase-alt quialification__icon'></i>   
                      Armada Argentina
                  </span>
                  <span class="qualification__work">
                      <i class='bx bx-calendar-alt quialification__icon'></i>   
                      Feb 2017 - Hoy
                  </span>
              </div>
                </div>
                <div class="qualification__data">
                    <h3 class="qualification__area">Mantenimiento y desarrollo en VB 6.0</h3>
                  <div class="qualification__box">
                      <span class="qualification__work">
                      <i class='bx bx-briefcase-alt quialification__icon'></i>   
                      Armada Argentina
                  </span>
                  <span class="qualification__work">
                      <i class='bx bx-calendar-alt quialification__icon'></i>   
                      Feb 2017 - Hoy
                  </span>

              </div>
                </div>
               
              </div>
              <div class="qualification__data">
                <h3 class="qualification__area">Auxiliar de soporte Técnico</h3>
              <div class="qualification__box">
                  <span class="qualification__work">
                  <i class='bx bx-briefcase-alt quialification__icon'></i>   
                  Armada Argentina
              </span>
              <span class="qualification__work">
                  <i class='bx bx-calendar-alt quialification__icon'></i>   
                  Feb 2013 - Feb 2017
              </span>
          </div>
            </div>
           </div>
           <div class="qualification__content">
            <h2 class="qualification__title">
             <i class='bx bx-book-bookmark quialification__title-icon'></i>
           Educación
            </h2>

           <div class="bd-grid">
               <div class="qualification__data">
                   <h3 class="qualification__area">Técnico en informática profesional y Personal</h3>
                 <div class="qualification__box">
                     <span class="qualification__work">
                     <i class='bx bx-book-alt quialification__icon'></i>   
                     Santo Tomé - EET nº 322 Obispo J.M Gelabert
                 </span>
                 <span class="qualification__work">
                     <i class='bx bx-calendar-alt quialification__icon'></i>   
                     Marzo 2005 - Dic 2010
                 </span>
             </div>
               </div>
               <div class="qualification__data">
                 <h3 class="qualification__area">Técnico Superior informático</h3>
               <div class="qualification__box">
                   <span class="qualification__work">
                   <i class='bx bx-book-alt quialification__icon'></i>   
                   Punta Alta - Escuela de Suboficiales de la Armada
               </span>
               <span class="qualification__work">
                   <i class='bx bx-calendar-alt quialification__icon'></i>   
                   Feb 2011 - Feb 2013
               </span>

           </div>
             </div>
            
            
           </div>
        </div>
       </div>
   </section>

<section class="project section bd-container">
    <div class="project__container bd-grid">
        <div class="project__data">
            <i class='bx bx-chat project__icon'></i>
            <div>
                <h2 class="project__title">Tengo una propuesta</h2>
                <p class="project__description">Contactame para que trabajemos juntos en tu empresa. </p>
            </div>
            <div>
                <a href="#contact" class="button button-white">Contactar</a>
            </div>

        </div>
    </div>
</section>
 <section class="portfolio section bd-container" id="portfolio"><span class="section-subtitle">Mis proyectos</span>
    <h2 class="section-title">Portfolio</h2>
    <div class="portfolio__nav">
        <span class="portfolio__item" data-filter="all">Todos</span>
        <span class="portfolio__item" data-filter=".web">Web</span>
            @*  <span class="portfolio__item" data-filter=".ux">Ui/Ux</span>
            <span class="portfolio__item" data-filter=".app">App</span>*@
    </div>
    <div class="portfolio__container bd-grid">
        <div class="portfolio__content mix web ">
                <a href="#"> <img src="~/img/work1.jpg" alt="" class="portfolio__img"></a>
            <div class="portfolio__data">
              <span class="portfolio__subtitle">Desarrollo web</span>  
               <h2 class="portfolio__title">Sistema de tickets de HelpDesk</h2>
              <a href="#" class="button button-link"> Ir a repositorio</a>
            </div>
        </div>
        
        
        
        <div class="portfolio__content mix web">
                <a href="#"> <img src="~/img/work2.jpg" alt="" class="portfolio__img"></a>
            <div class="portfolio__data">
              <span class="portfolio__subtitle">Este sitio web</span>  
              <a href="#"> <h2 class="portfolio__title">Portfolio personal</h2></a>
              <a href="#" class="button button-link"> Ir a repositorio</a>
            </div>
        </div>
       @* <div class="portfolio__content mix app">
                <a href="#"> <img src="~/img/work3.jpg" alt="" class="portfolio__img"></a>
            <div class="portfolio__data">
              <span class="portfolio__subtitle">App móvil</span>  
              <a href="#"> <h2 class="portfolio__title">Aplicación Instituto Romero Brest</h2></a>
              <a href="#" class="button button-link"> Detalles</a>
            </div>
        </div>*@
    </div>
</section>


    <section class="contact section bd-container" id="contact">
        <span class="section-subtitle">Para proyectos</span>
        <h2 class="section-title">Contactame</h2>
        <div class="contact__container bd-grid">
            <div class="contact__content bd-grid">
                <div class="contact__box">
                    <i class='bx bx-home contact__icon'></i>
                    <h3 class="contact__title">localización</h3>
                    <span class="contac__description"> Ciudad de Buenos Aires</span>

                </div>


                <div class="contact__box">
                    <i class='bx bx-phone contact__icon'></i>
                    <h3 class="contact__title">Teléfono</h3>
                    <span class="contact__description">(2932)443319</span>

                </div>


                <div class="contact__box">
                    <i class='bx bx-envelope contact__icon'></i>
                    <h3 class="contact__title">E-Mail</h3>
                    <span class="contac__description">jonatandaniel.rey@gmail.com</span>


                </div>

                <div class="contact__box">
                    <i class='bx bx-chat contact__icon'></i>
                    <h3 class="contact__title">Chat</h3>
                    <div>
                        <a href="https://wa.me/542932443319" class="contact__social">  <i class='bx bxl-whatsapp-square'></i></a>
                        <a href="https://t.me/jonirey" class="contact__social">  <i class='bx bxl-telegram'></i></a>

                    </div>
                </div>
            </div>
            <form action="@Url.Action("Crear","Mensaje")" method="post" class="contact__form" onsubmit="return validateRecaptcha()">
                <div class="text-danger" id="error" display="block"> @ViewBag.mensaje </div>
                
                <div class="contact__inputs">
                    <input type="text" placeholder="Nombre" name="Name" class="contact__input" required>
                    <input type="email" placeholder="Email" name="Email" class="contact__input" required>
                </div>
                <div class="contact__inputs">
                    <input type="text" placeholder="Proyecto" name="Project" class="contact__input" required>
                    <input type="number"  placeholder="Número" name="TelNumber" class="contact__input" required>
                </div>
                <textarea name="Message" id="" cols="0" rows="7" placeholder="Mensaje" class="contact__input" required></textarea>
                <div class="g-recaptcha" data-sitekey="web key del captcha" name="siteKey" required></div>
                <input type="submit" id="enviar" value="Enviar Mensaje" class="button contact__button">
            </form>
        </div>

    </section>

    <section class="footer">
              <!--footer-->

              <footer class="footer">
                <div class="footer__container bd-container">
                   <h1 class="footer__title">Joni Rey</h1> 
                   <p class="footer__description">Soy Jonatan Rey y este es mi sitio Personal</p>
                   <div class="footer__social">
                       <a href="#" class="footer__link"> <i class='bx bxl-linkedin'></i></a>
                       <a href="#" class="footer__link"> <i class='bx bxl-github'></i></a>
                       <a href="#" class="footer__link"> <i class='bx bxl-dribbble'></i></a>
                </div>
                <p class="footer__copy">&#169; 2021 Código de Joni Rey</p>
                </div>
            </footer>
    </section>

</main>

         <script>
        $(document).ready(function () {
            $('#myModal').modal('show');
        });
    </script>
    

   